<nav class="h-20 w-full flex items-center justify-between px-20 bg-slate-600 font-semibold text-lg rounded-b-lg border border-black text-white">
    <ul class="flex items-center justify-center gap-x-20">
        <li><a href="{% url 'home_view' %}">Home</a></li>
        <li><a href="{% url 'register_view' %}">Add Customer Data</a></li>
    </ul>

    
    
        {% if user.is_authenticated %}
        <a href="{% url 'logout_view' %}">
        <button type="submit" class="bg-stone-800 px-2 py-2 text-sm rounded-sm border border-black hover:bg-slate-900 hover:px-3 hover:py-2 hover:rounded-md cursor-pointer">LOGOUT</button>
        </a>
        {% else %}
        <a href="{% url 'login_view' %}">
        <button type="submit" class="bg-stone-800 px-2 py-1 rounded-sm border border-black hover:bg-slate-900 hover:px-3 hover:py-2 hover:rounded-md cursor-pointer">LOGIN</button>
        </a>
        {% endif %}
        
</nav>